body {
  font-family: "KoHo", sans-serif;
  display: flex;
  justify-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-gap: 75px;
  background-color: #fff;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  height: 350px;
  width: 220px;
  font-size: 30px;
  margin: 0 auto;
  border: 2px solid rgb(0, 0, 0, 0.086);
  border-radius: 40px 39px 40px 40px;
}
.imgItem {
  position: relative;
  height: 260px;
  width: 220px;
  display: flex;
}
.imgItemIMG {
  height: 260px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 2px 5px 9px gray;
  background-size: 220px 260px;
  background-repeat: no-repeat;
}
.imgItem:hover {
  animation: shake 0.75s;
  animation-iteration-count: 1;
}
/* DEFINO LA ANIMACION SHAKE
  (Esta animacion me costo mas rato que todo el otro codigo)*/
@keyframes shake {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  30% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  90% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
}

.imgNewItem {
  background-color: green;
  position: absolute;
  color: white;
  font-size: 20px;
  width: 65px;
  border-radius: 10px;
  text-align: center;
}
.buttonBuy {
  background-color: green;
  position: absolute;
  color: white;
  font-size: 20px;
  width: 105px;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
  z-index: 1;
}
.right {
  right: 5px;
}
.bottom {
  bottom: 5px;
}
.left {
  left: 5px;
}
.itemPrice {
  font-size: 25px;
  font-weight: bold;
}
.itemName {
  position: absolute;
  margin-top: 10px;
  font-size: 14px;
  width: 200px;
}
.itemDescrp {
  margin-top: 10px;
  position: absolute;
  margin-left: 15px;
  width: 200px;
}
.middle {
  top: 50%;
  margin-top: -10px;
}
.center {
  left: 30%;
  margin-left: -10px;
}

@media (max-width: 1240px) {
  .grid-container {
    grid-template-columns: 220px 220px 220px;
    grid-gap: 65px;
  }
}
@media (max-width: 915px) {
  .grid-container {
    grid-template-columns: 220px 220px;
  }
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto;
    grid-gap: 10px;
  }
}
